.idea/*
.DS_Store

target/*

public/bundles/cord/

conf/*
!conf/default.js
!conf/developer.js

# Almost all of node modules are ignored. Exclusion only for patched libraries
node_modules/*
!node_modules/curly
!node_modules/postal
!node_modules/monologue.js
!node_modules/requirejs

npm-debug.log
